html, body {
    min-width: 1920px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sidebar {
    float: left;
    width: 250px;
    margin: 8px;
    margin-top: 0;
    height: 100%;
}

.main {
    float: left;
    width: calc(100% - 300px);
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 100%;
}

#line_wrapper {
    margin-bottom: 10px;
}

#crimeTimeVieWrapper {
    width: 1120px;
    float: left;
}

#predictions {
    float: left;
    width: 300px;
    padding-left: 20px;
}

#content {
    width: 100%;
    height: calc(100% - 315px);
    position: relative;
}

#content_left {
    width: 1005px;
    float: left;
    height: 100%;
    position: relative;
}

#content_right {
    float: left;
    width: 580px;
    height: 100%;
    padding-left: 20px;
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

#vis_select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: hidden;
    border: none;
    width: 50%;
}

#corrplot {
    max-height: calc(100% - 70px);
    overflow-y: scroll;
    overflow-x: hidden;
}

#corrplot svg {
    margin-left: 50px !important;
}

#detailPanel {
    height: 380px;
}

#wardHoverPanel {
}

.legend {
    color: #555;
    background: white;
    opacity: 1;
    padding: 10px;
    width: 60px;
    height: 160px;
}

.legend i {
    width: 18px;
    height: 150px;
    float: left;
    margin-right: 8px;
    opacity: 0.9;
    border: 1px solid gray;
}

#solvedCrimeCheckboxes {
    z-index: 0;
}

.tab {
    font-size: 11pt;
    padding: 2px 30px;
    padding-top: 3px;
    display: inline-block;
    border: 1px solid #c8c8c8;
    cursor: pointer; 
}

#vis_select_div {
    width: 447px;
    border-bottom: 2px solid #c8c8c8;
    margin-bottom: 15px;
}


#vis_select_div :nth-child(2) {
    background-color: #c8c8c8;
}

#logo{
    float: left;
    height:0px;
    position: relative;
    margin-left: 1100px;
    margin-top: -10px;
}
#logo div{
    width: 350px;
    height:200px;
    text-align: center;
}
#logo h3{
    font-family: Georgia; /*http://www.grazersoft.com/webdesign-schriftarten.html */
}

#logo img {
    display: block;
    margin: 0 auto;
    height:200px;
    width: 350px;
}