html, body {

    min-width: 1940px;
}

.sidebar {
    float: left;
    width: 250px;
    margin: 8px;
}

.main {
    float: left;
    width: calc(100% - 300px);
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 100%;
}

#crimeTimeVieWrapper {
    width: 1120px;
    float: left;
    margin-bottom: 30px;
}

#predictions {
    float: left;
    width: 300px;
    padding-left: 20px;
}

#content {
    width: 100%;
    overflow: none;
    margin-top: 30px;
    height: calc(100% - 315px);
}

#content_left {
    width: 1005px;
    float: left;
    height: 100%;
    margin-top: -45px;
}

#content_right {
    float: left;
    width: 580px;
    height: 100%;
    padding-left: 20px;
    margin-top: -50px;
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

#vis_select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: hidden;
    border: none;
    width: 50%;
}

#corrplot svg {
    margin-left: 50px !important;
}

#detail-Panel {
    margin-left: -10px;
}

#wardHoverPanel {
    margin-top: -80px;
}

.legend {
    color: #555;
    background: white;
    opacity: 1;
    padding: 10px;
    width: 60px;
    height: 160px;
}

.legend i {
    width: 18px;
    height: 150px;
    float: left;
    margin-right: 8px;
    opacity: 0.9;
    border: 1px solid gray;
}

#solvedCrimeCheckboxes {
    z-index: 0;
}

.tab {
    font-size: 11pt;
    padding: 2px 30px;
    padding-top: 3px;
    display: inline-block;
    border: 1px solid #c8c8c8;
    cursor: pointer; 
}

#vis_select_div {
    width: 445px;
    border-bottom: 2px solid #c8c8c8;
    margin-bottom: 15px;
}

#vis_select_div :nth-child(2) {
    background-color: #c8c8c8;
}