
body {
    min-width: 1263px;
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke-width: 1.5px;
}
#crimeTimeMatrix{
    border: thin solid lightgrey;
}
#timelineView{
    border: thin solid lightgrey;
    padding-left: 80px;
}


#slider1{
    stroke: GRAY;
    stroke-width: 2;
    opacity: 0.5;
    cursor: pointer;
}
#slider2{
    stroke: GRAY;
    stroke-width: 2;
    opacity: 0.5;
    cursor: pointer;
}

#toggleallbutton,
#toggleallLSOA {
   width: 50px;
   height: 15px;
   font-size: 8px;
   margin-left: -2px;
   padding-left: -2px;
}


rect.bordered {
    stroke-width:2px;
}